.row {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;     /* Centrar verticalmente */
  height: 100%; /* Ajusta esta altura según lo que necesites */
}

img {
  width: 100px;
  height: 100px;
}
.nivel:hover {
  background-color: #072E70;
  color: #c2c3c4;
}

.nivel {
  border-radius: 5%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(#006DFE, 0.09);
}

.fuera {
  border-radius: 5%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(#888888, 0.09);
}

.pasado {
  border-radius: 5%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(#F24405, 0.9);
}
